*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #141e30  ,#243b55);
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btn-container{
    display: flex;
    gap: 10vw;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    height: 20vh;
    width: 25vw;
}

.results-container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    color: white;
    gap: 5vh;
}

#play-again{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    height: 5vh;
    width: 15vw;
}

h1{
    margin-bottom: 10vh;
    color: white;
}